<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-Time Emotion Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Real-Time Emotion Detection</h1>
    <div class="camera-container">
        <video id="video" autoplay muted></video>
        <canvas id="canvas" style="display: none;"></canvas>
    </div>
    <div id="emotion">Detecting...</div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
